<a href="https://colab.research.google.com/github/stphler/MR/blob/master/DataAnalystsalaryestimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import os

Installing the require libraries

In [ ]:
!pip install beautifulsoup4

In [ ]:
!pip install lxml

In [6]:
import requests
import re
from bs4 import BeautifulSoup

In [17]:
# Path of the file to read
data_analyst_filepath = '/content/sample_data/DataAnalyst.csv'

# Read the file into a variable data_analyst
df = pd.read_csv(data_analyst_filepath)

In [25]:
# Print the first 5 rows of the data
df.head()

   Unnamed: 0  ... Salary Upper bound
0           0  ...                 66
1           1  ...                 66
2           2  ...                 66
3           3  ...                 66
4           4  ...                 66

[5 rows x 18 columns]

In [28]:
# Find lower and upper bounds of salaries
df["Salary Estimate"] = df["Salary Estimate"].str.replace("\(Glassdoor est.\)", "")
df["Salary Estimate"] = df["Salary Estimate"].str.replace("K", "")
df[['Salary Lower bound','Salary Upper bound']] = df["Salary Estimate"].str.split("-",expand=True)

df["Salary Lower bound"] = df["Salary Lower bound"].str.replace("$", "")
df["Salary Upper bound"] = df["Salary Upper bound"].str.replace("$", "")


# df["Salary Lower bound"] = df["Salary Lower bound"].str.replace(" ", "0")
# df["Salary Upper bound"] = df["Salary Upper bound"].str.replace(" ", "0")

df["Salary Lower bound"] = pd.to_numeric(df["Salary Lower bound"])
df["Salary Upper bound"] = pd.to_numeric(df["Salary Upper bound"])

df[:2]

   Unnamed: 0  ... Salary Upper bound
0           0  ...                 66
1           1  ...                 66

[2 rows x 18 columns]

In [27]:
df[:4]

   Unnamed: 0  ... Salary Upper bound
0           0  ...                 66
1           1  ...                 66
2           2  ...                 66
3           3  ...                 66

[4 rows x 18 columns]