<a href="https://colab.research.google.com/github/stphler/MR/blob/master/DataAnalystsalaryestimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np
import os

Installing the require libraries

In [ ]:
!pip install beautifulsoup4

In [ ]:
!pip install lxml

In [6]:
import requests
import re
from bs4 import BeautifulSoup

In [14]:
# Path of the file to read
data_analyst_filepath = '/content/sample_data/DataAnalyst.csv'

# Read the file into a variable data_analyst
data_analyst = pd.read_csv(data_analyst_filepath)

In [15]:
# Print the first 5 rows of the data
data_analyst.head()

   Unnamed: 0  ... Easy Apply
0           0  ...       True
1           1  ...         -1
2           2  ...         -1
3           3  ...         -1
4           4  ...       True

[5 rows x 16 columns]